In [ ]:
Collisions:

ALCOHOL_INVOLVED
BICYCLE_ACCIDENT
MOTORCYCLE_ACCIDENT

PEDESTRIAN_ACCIDENT
TRUCK_ACCIDENT

In [ ]:
COUNT_PED_KILLED
COUNT_BICYCLIST_KILLED
COUNT_MC_KILLED

Victim table:
VICTIM_SEX
VICTIM_AGE

In [2]:
import numpy as np
import pandas as pd
import requests
import urllib
import sqlite3
# import libraries
import geopandas as gpd
from shapely.geometry import Point, Polygon
import matplotlib.pyplot as plt

In [3]:
con = sqlite3.connect("switrs.sqlite")

In [8]:
alc = ('''SELECT ALCOHOL_INVOLVED, COUNT(*) as count FROM collisions
         WHERE ALCOHOL_INVOLVED IS NOT NULL 
         GROUP BY ALCOHOL_INVOLVED
       ''' )

df = pd.read_sql_query(alc, con)
df

   alcohol_involved   count
0                 1  915263

In [ ]:
query = ('''SELECT party_age, COUNT(*) AS ct
    FROM parties
    WHERE at_fault
    GROUP BY party_age''')
df = pd.read_sql_query(query, con)
df.dropna(inplace=True)
CASE_ID

#inner join

In [9]:
query = ''' SELECT CASE_ID from collisions GROUP BY CASE_ID'''
df = pd.read_sql_query(query, con)
df

                     case_id
0                    0000001
1                    0000002
2                    0000003
3                    0000004
4                    0000005
...                      ...
9172560  9870011224092016011
9172561  9870011224123011850
9172562  9870011226102009803
9172563  9870011228210011458
9172564  9870011231152508671

[9172565 rows x 1 columns]