In [1]:
import numpy as np
import pandas as pd
import requests
import urllib
import sqlite3
# import libraries
import geopandas as gpd
from shapely.geometry import Point, Polygon
import matplotlib.pyplot as plt
%matplotlib inline
import gmaps 
import gmaps.datasets

In [3]:
con = sqlite3.connect("/Users/rena/desktop/class/CA-Collision-History/src/switrs.sqlite")

In [4]:
coll = ('''SELECT latitude, longitude FROM collisions
         WHERE latitude IS NOT NULL AND longitude IS NOT NULL 
         
       ''' )

lat_long = pd.read_sql_query(coll, con)
lat_long

         latitude  longitude
0        39.61953 -121.69178
1        37.82839 -120.63505
2        38.28533 -121.45608
3        38.52921 -121.33477
4        38.56349 -121.49161
...           ...        ...
2523806  34.44470 -117.39960
2523807  34.95313 -120.41725
2523808  33.43440 -117.47220
2523809  37.44952 -122.18463
2523810  37.22209 -121.50213

[2523811 rows x 2 columns]

In [5]:
#fig = gmaps.figure()
gmaps.configure(api_key='')

locations = lat_long[['latitude', 'longitude']]
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations))
fig

#2.5Mill crashes

Figure(layout=FigureLayout(height='420px'))